
body ul > li{
    color: darkgreen;
}

body a + a{
    font-size: 50px;
}

body{
    font-size: 20px;
    color: orange;
}

p{
    color: rebeccapurple !important;
}

p{
    color: darkolivegreen;
}

body p span{
    color: black;
} 

body p > span{
    font-size: 25px;
}

p span + span{
    color: red;
    font-size: 50px;
}

html body ul li#id.one[class="one"] {
    color: red;
}